.onboarding-slide {
  display: flex;
  flex-direction: column;
  padding: var(--base-padding);
  gap: 25px;
  max-width: 740px;
  align-items: center;
}

.onboarding-slide > p {
  color: var(--light);
  font-size: 1.5rem;
  font-family: var(--text-font-family);
  font-weight: 400;
  line-height: 2.3rem;
}

.onboarding-slide .review {
  margin-left: auto;
  margin-right: auto;
}

.onboarding-container {
  height: 100vh;
  width: 100vw;
  background-color: var(--blue);
}

.onboarding-icons-container {
  display: flex;
  justify-content: center;
  gap: 40px;
}

.onboarding-icons-container span {
  width: 80px;
  height: 69px;
  background-color: var(--light);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: var(--button-border-radius);
  margin-top: 40px;
}

.onboarding-icons-container span img {
  object-fit: contain;
  width: 85%;
  height: 85%;
}

.onboarding-buttons-container {
  display: flex;
  gap: 40px;
  justify-content: space-between;
  margin-top: 10px;
}

.onboarding-container .next-slide-button {
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
}

@media (min-width: 700px) {
  .onboarding-buttons-container {
    justify-content: space-around;
  }
}
