body {
  background-color: #3CB9D6;
}

header {
  display: flex;
  background-image: url(./assets/safeBites_cv.svg);
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 200px;
}