body {
  font-family: 'Nunito', sans-serif;
  background-color: #689c0049;
  display: grid;
  justify-content: center;
  align-content: center;
}
header {
  height: 200px;
}

.main-container {
  margin-top: 20px;
  margin-bottom: auto;
  background-color: #3CA9D6;
  color: #FFFFFF;
  display: grid;
  justify-content: center;
  width: 400px;
  max-width: 400px;
  height: 90vh;
  border-radius: 10px;
  align-items: flex-start;
  overflow: auto;
}

.main-container::-webkit-scrollbar
{
  border-radius: 10px;
	width: 8px;
	background-color: #3CA9D6;
}

.main-container::-webkit-scrollbar-track
{
	border-radius: 10px;
  background-color: #3CA9D6;
}

.main-container::-webkit-scrollbar-thumb
{
  background-color: #7cb9d3;
  border-radius: 10px;
}

.profile-anchor {
  color: #FFFFFF;
  text-decoration: none;
}
.profile-container {
  background-color: #689C00;
  display: grid;
  justify-content: center;
  align-content: center;
  border-radius: 10px;
  width: 130px;
  height: 140px;
  
}
.profile-container>img {
  height: 60px;
  justify-self: center;
  padding-top: 11px;
  
}


.profile-container>p {
  text-align: center;
  margin-bottom: 0px;
  
}

#profile-grid {
  display: grid;
  justify-content: space-evenly;
  grid-template-columns: auto auto;
}
.sign-up>h3 {
  margin-left: 1em;
}

.sign-up-logo {
  background-image: url(./assets/safe\ bites_horizontal.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 90%;
  width: 100%;
  height: 240px;
  margin-top: 20px;

}

.sign-up {
  display: grid;
  justify-content: center;
  align-content: space-between;

}

.sign-up-form {
  display: grid;
  margin-bottom: 30px;
}



.sign-up-form>input,  .sign-up-form>label{
  margin-top: 10px;
  border: none;
  height: 1.7em;
  border-radius: 0.5em;
}

.sign-up-form>button {
  margin-top: 20px;
  height: 2rem;
  color: #FFFFFF;
  background-color: #689C00;
  border: none;
  border-radius: 0.5em;
}
#email-confirmation-container {
  display: grid;
}

#email-confirmation-message {
  width: 80%;
  justify-self: center
}

#email-confirmation-button {
  margin-top: 10px;
  height: 2rem;
  color: #FFFFFF;
  background-color: #689C00;
  border: none;
  border-radius: 0.5em;
  width: 50%;
  justify-self: center;

}

#require-login-grid {
  display: grid;
}

#require-login-grid>h3{
  text-align: center;
  justify-self: center;
  width: 70%;
}

.require-login-button {
  margin-top: 10px;
  height: 2rem;
  color: #FFFFFF;
  background-color: #689C00;
  border: none;
  border-radius: 0.5em;
  width: 70%;
  justify-self: center;

}
#require-login-buttons {
  display: grid;
  grid-template-columns: auto auto;
}

#back-arrow {
  margin-top: 1em;
  margin-left: 0em;
  width: 4em;
}