.custom-carousel-container {
  width: min(100vw, 700px);
  height: calc(100vh-150px);
  overflow: hidden;
}

.custom-carousel-menu {
  display: flex;
  flex-direction: column;
  height: 150px;
  justify-content: flex-end;
}

.custom-skip-button-container {
  display: flex;
  justify-content: center;
}

.slick-list * {
  outline: none;
}
