<div class="main-container">
  <header>  
    <div class="sign-up-logo">
      <a href="#index"><img style="margin-left: 2em;" src="../assets/back-arrow.svg" alt="go back" id="back-arrow"></a>
    </div>
  </header>

  <main class="sign-up">
    <div id="email-confirmation-container">
      <p id="email-confirmation-message">
        Cadastro realizado com sucesso. 
        Confirme seu cadastro clicando no link que enviamos para seu email.
      </p>
    </div>
    
  <button onclick="(function () {location.hash = 'post-register-login'})()" id="email-confirmation-button">Ok!</button>


  </main>
</div>