<div class="main-container">
  <header>  
    <div class="sign-up-logo">
      <a href="#index"><img src="../assets/back-arrow.svg" alt="go back" id="back-arrow"></a>
    </div>
  </header>

  <main class="sign-up">
    <div>
      <h1>Bem vindo de volta, ...</h1>
    </div>

    <form action="#index" method="GET" class="sign-up-form">
      <label for="email">Email</label>
      <input type="text" name="email">
      <label for="password">Senha</label>
      <input type="password" name="password">
      <button>Entrar</button>
    </form>
  </main>
</div>