<div class="main-container">
  <header>  
    <div class="sign-up-logo">
      <a href="#index"><img src="../assets/back-arrow.svg" alt="go back" id="back-arrow"></a>
    </div>
  </header>

  <main class="sign-up">
    <div>
      <h1>Seja bem vindo</h1>
      <p>Preencha o formulário abaixo para se cadastrar</p>
    </div>

    <form action="#email-confirmation" method="GET" class="sign-up-form">
      <label for="name">Nome Completo</label>
      <input type="text" name="name">
      <label for="email">Email</label>
      <input type="text" name="email">
      <label for="password">Senha</label>
      <input type="password" name="password">
      <label for="password2">Confirmar Senha</label>
      <input type="password" name="password2">
      <button>Cadastrar</button>
    </form>
  </main>
</div>