<div class="main-container">
  <header>  
    <div class="sign-up-logo">
      <a href="#index"><img src="../assets/back-arrow.svg" alt="go back" id="back-arrow"></a>
    </div>
  </header>

  <main class="sign-up">
    <div>
      <h3>Você é pessoa ou estabelecimento?</h3>
    </div>

    <div id="profile-grid">
      <a href="#sign-up-2-pf" class="profile-anchor">
        <div class="profile-container">
          <img src="../assets/register-profile.svg" alt="">
          <p>Sou Pessoa</p>
        </div>
      </a>

      <a href="#sign-up-2-pj" class="profile-anchor">
        <div class="profile-container">
          <img src="../assets/register-profile.svg" alt="">
          <p>Sou <br>Estabelecimento</p>
        </div>
      </a>
    </div>
  </main>
</div>