.custom-review {
  width: min(375px, 100%);
  background-color: var(--darker-blue);
  display: flex;
  flex-direction: column;
  padding: 1rem;
  border-radius: var(--input-border-radius);
}

.custom-review-expanded {
  height: fit-content;
}

.custom-review-not-expanded {
  height: 240px;
}

.custom-review-user-data {
  display: flex;
  align-items: center;
}

.custom-review-user-data > div {
  width: 100%;
  margin-left: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 3rem;
}

.custom-review-user-data-username {
  color: var(--light);
  font-size: 1.2rem;
}

.custom-review-user-data img {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  object-fit: cover;
}

.custom-review-text {
  color: var(--light);
  font-size: 1.1rem;
  line-height: 1.5rem;
  overflow: hidden;
  cursor: pointer;
}

.custom-review-heart-container {
  display: flex;
  gap: 10px;
  justify-content: flex-end;
  margin-top: auto;
  align-items: center;
}

.custom-review-heart-container p {
  color: var(--light);
}

.custom-review-heart-container svg {
  height: 80%;
  width: 75%;
}

.custom-review-heart {
  background-color: var(--light);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 1.3rem;
  width: 1.3rem;
  cursor: pointer;
  transition: opacity 0.1s;
}

.custom-review-heart:hover {
  opacity: 0.9;
}

@media (max-width: 375px) {
  .custom-review {
    height: fit-content;
  }
}
