.review-rating {
  display: flex;
  align-items: center;
  gap: 1px;
}

.review-rating p {
  color: var(--light);
  margin-right: 4px;
  font-size: 1.2rem;
  font-family: var(--text-font-family);
}

.review-rating svg {
  height: 1.2rem;
  width: 20px;
}
