:root {
  --darker-blue: #3ca9d6;
  --blue: #3cb9d6;
  --lighter-blue: #3cc9d6;

  --darker-green: #688c00;
  --green: #689c00;
  --lighter-green: #68ac00;

  --darker-red: #cb2300;
  --red: #db2300;
  --lighter-red: #eb2300;

  --white: #fafafa;
  --lighter-gray: #ccc;
  --darker-gray: #cacaca;
  --dark: #303030;

  --title-font-family: "Nunito", "Quicksand", "M Plus Rounded 1c", sans-serif;
  --text-font-family: "Raleway", "Fira Sans", "Oxygen", sans-serif;

  --button-border-radius: 10px;
  --input-border-radius: 5px;
  --hover-box-shadow: 2px 2px 10px 0 black;
}

.title-font {
  font-family: var(--title-font-family);
}

.text-font {
  font-family: var(--text-font-family);
}

.modal-layer {
  width: fit-content;
  height: fit-content;
  z-index: 10;
  position: fixed;
  top: 0;
  left: 0;
}

/* BASE STYLING */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
  font-size: 16px;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
